html {
    overflow-x: hidden;
}

#chv {
    display: flex;
    border-width: 0;
    border-bottom-width: 4px;
    border-top-width: 4px;
    border-color: black;
    border-style: double none double none;
    position: sticky;
    top: 8px;
    background-color: var(--off-white);
    z-index: 1;
}

#nhamb:hover {
    background-color: dimgray;
    color: white;
}

#chv > * {
    flex: 1;
    font-family: "Courier Prime", "Menlo";
    text-align: center;
    padding: 16px;
}

#chv *:hover, #vws {
    background-color: dimgray;
    color: white;
}

.vw:hover {
    text-decoration: underline;
}

.view {
    flex-direction: row;
}

@media (width < 800px) {
    .view:not(.scrn1) {
        display: none;
    }
    .view.scrn1 {
        display: flex;
        margin: 0px 8px;
    }
    #chv {
        flex-direction: column;
    }
}
@media (width >= 800px) and (width < 1225px) {
    .view:not(.scrn2) {
        display: none;
    }
    .view.scrn2 {
        display: flex;
        margin: 0px 8px;
    }
    #chv {
        flex-direction: row;
    }
}
@media (width >= 1225px) {
    .view:not(.scrn3) {
        display: none;
    }
    .view.scrn3 {
        display: flex;
        margin: 0px 108px;
    }
    #chv {
        flex-direction: row;
    }
}

#content {
    padding: 8px !important;
}

#content img, #content audio {
    display: block;
    margin: auto;
}

#content img {
    max-height: 250px;
    max-width: 90%;
    width: auto;
}

.feed {
    margin: 4px;
}

.feedttl {
    font-family: "Bodoni Moda", "Georgia";
    font-style: italic;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: large;
}

.card {
    margin: 8px;
    padding: 16px;
    font-size: smaller;
    border-radius: 4px;
}

.card:hover, .card:hover *, #vws {
    background-color: dimgray !important;
    color: snow !important;
}

.card .t_h {
    font-weight: bold;
    font-size: large;
    margin-bottom: 1em;
}
