:root {
    --th-1-02: white;   /* bright white */
    --th-1-00: ivory;   /* off-white */
    --th-1-01: #2e86ab; /* linky blue */
    --th-1-10: #dd403a; /* primary, bright */
    --th-1-11: #bf211e; /* primary, dark */
    --th-1-12: #f79256; /* primary, light */
    --th-1-20: #697a21; /* secondary */
    --th-1-30: #3e363f; /* tertiary, dark */
    
    --off-white:    var(--th-1-00);
    --bright-white: var(--th-1-02);
    --link:         var(--th-1-01);
    --primary-dark: var(--th-1-10);
    --primary:      var(--th-1-11);
    --primary-soft: var(--th-1-12);
    --secondary:    var(--th-1-20);
    --tertiary:     var(--th-1-30);
    
    --top:  var(--primary);
    --card: var(--secondary);
}

body {
    font-family: "Source Code Pro", serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--off-white);
    font-size: 20px;
    line-height: 32px;
}

#top {
    padding: 2vh 2vw 2vh 2vw;
    font-family: "Audiowide", serif;
    background-color: var(--top);
    color: var(--bright-white);
}

@media (width>1000px) {
    #top {
        font-size: 1vw;
    }
}

@media (width<=1000px) {
    #top {
        font-size: 10px;
    }
}

#lower {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.flex-contain {
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}

.flex-contain nav {
    position: sticky;
    top: 0;
}

.flex-contain#primary {
    background-color: var(--primary);
}

.flex-contain#secondary {
    background-color: var(--primary-soft);
    display: none;
}

.lbarhead, .lbarbutton {
    display: inline-block;
    padding: 5%;
    width: -webkit-fill-available;
    height: max-content;
    color: var(--bright-white);
}

.lbarbutton:hover {
    background-color: var(--primary-dark);
}

#scrollbox {
    flex: 1 5;
    display: flex;
    flex-flow: column;
}

#scrollbox > * {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}

#content {
    box-sizing: border-box;
    width: 45%;
    min-width: min(100%, 800px);
}

#content > * {
    font-family: "Newsreader", serif;
}

header {
    font-family: "Playfair Display", serif;
    text-decoration: underline var(--primary-soft) dotted;
}

footer {
    color: var(--bright-white);
    background-color: var(--tertiary);
    flex-grow: 1;
    padding-top: 1%;
    margin-top: 1%;
    font-family: "Source code Pro", sans-serif;
}


/* Cards for resume */

.xp-card {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid var(--card);
    font-family: "Source Code Pro";
}

.xp-card > * {
    padding: 16px;
}

.xp-tag {
    flex-shrink: 0;
    width: 20%;
}

.xp-tag > hr {
    display: block;
    margin: 0.9em 0 0.9em 0;
}

a.xp-card {
    text-decoration: none;
}

a.xp-card .xp-tag *:not(.xp-tag-main) {
    color: black;
}

a.xp-card .xp-tag-main {
    text-decoration: underline;
}


.xp-tag-main {
    font-weight: bold;
}

.xp-tag-role {
    font-style: italic;
}

.xp-descr {
    width: 80%;
    background-color: var(--card);
    color: var(--bright-white);
}

.xp-descr > ul {
    margin: 0;
    padding-left: 24px;
    list-style-type: "\FF0A  ";
}


/* Miscellany */


.sect {
    margin-bottom: 4em;
}

.widesect {
    margin-bottom: 8em;
}

.widesect:last-child, .sect:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: underline;
}

a:link, a:visited, a:hover {
    color: var(--link);
}

a:focus, a:active {
    color: var(--primary-soft);
}

.center {
    text-align: center;
}

